<div class="login-container">
    <md-toolbar class="app-title">
        <span>用户注册</span>
    </md-toolbar>
    <div class="content">
        <div class="row">
            <span class="msg">{{msg}}</span>
        </div>
        <div class="row">
            <div>
                <img src="assets/img/user.png"/>
                <input type="text" [(ngModel)]="userid" placeholder="用户名">
                <div *ngIf="userid != null && userid.length>0" class="clearinput" (click)="clearInput('userid')">X</div>
            </div>
            <!--<md-input placeholder="用户名" [(ngModel)]="userid" align="center" dividerColor="#333">-->
            <!--</md-input>-->
        </div>
        <div class="row">
            <div>
                <img src="assets/img/password.png"/>
                <input type="password" [(ngModel)]="password" placeholder="密   码">
                <div *ngIf="password != null && password.length>0" class="clearinput" (click)="clearInput('password')">
                    X
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <img src="assets/img/password.png"/>
                <input type="password" [(ngModel)]="rppassword" placeholder="重复密码">
                <div *ngIf="rppassword != null && rppassword.length>0" class="clearinput" (click)="clearInput('rppassword')">
                    X
                </div>
            </div>
        </div>
        <div class="row">
        <button md-raised-button class="loginbutton" [ngClass]="{disabled : logining}" (click)="register()">注册</button>
        <button md-raised-button class="loginbutton" [ngClass]="{disabled : logining}" (click)="gotologin()">返回</button>
        </div>
        
    </div>
</div>