<div style="display: flex; flex-direction: column;background-color: white;width:100%;height:100%;">
    <md-card class="account">
        <div class="headimg">
            <img src="./assets/img/app.png"/>
        </div>
        <div class="info">
            <div>
            <span style="font-size: larger">{{name}}</span>
            <span style="float:right;"></span>
            </div>
            <div  style="margin-top:10px;">
            <span>信誉等级
                <font color="blue">{{level}}级</font>
            </span>
            <span style="float:right;">分享等级
                <font color="blue">{{sharelevel}}级</font>
            </span>
            </div>
        </div>
    </md-card>
    <md-card style="overflow-y: auto;padding-top:0;margin-top:5px;">
        <md-list class="sharelist" style="padding-top:0;">
            <md-list-item class=" {{show1?'active':''}}">
                <i class="fa fa-cubes"></i>
                <div class="right {{show1?'active':''}}" (click)="show1=!show1">租借历史</div>
                
            </md-list-item>
            <book-list *ngIf="show1"></book-list>
            <md-list-item class="{{show2?'active':''}}">
                <i class="fa fa-cube"></i>
                <div class="right " (click)="show2=!show2">分享历史</div>
                
            </md-list-item>
            <book-list *ngIf="show2"></book-list>
            <md-list-item  class="{{show3?'active':''}}">
                <i class="fa fa-list"></i>
                <div class="right" (click)="show3=!show3">租借列表</div>
                
            </md-list-item>
            <book-list *ngIf="show3"></book-list>
            <md-list-item  class="{{show4?'active':''}}">
                <i class="fa fa-podcast"></i>
                <div class="right " (click)="show4=!show4">我的关注</div>
                
            </md-list-item>
            <book-list *ngIf="show4" style="margin-top: 60px;"></book-list>
        </md-list>
    
    </md-card>
</div>